#root {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  background-color: rgb(195, 238, 208);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
