@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #16a34a;
}

.section-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
}

.primary-color {
  color: salmon;
}

@theme {
  --color-primary: oklch(52.7% 0.154 150.069);
}
